* {
  padding: 0%;
  margin: 0%;
}
*::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  font-family: "VT323", monospace;
  color: #92e7d7;

  #chat {
    width: 400px;
    height: 450px;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    ul {
      list-style-type: none;
      list-style-position: outside;
    }
    li {
      display: list-item;
      text-align: -webkit-match-parent;
      background-color: #354ab2c8;
      //-webkit-box-sizing: border-box;
      //box-sizing: border-box;
      padding: 1rem 10px;
      margin-bottom: 10px;

      .ChatBorder {
        color: #92e7d7;
        border-left: 5px solid;
        border-radius: 5px 0px 0px 5px;
        padding-left: 10px;
      }
      .UserProfileLine {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        .ProfilePicture {
          display: inline-block;
          margin-right: 10px;

          // stops dragging and dropping images
          pointer-events: none;

          // turns profile picture into a circle
          border-radius: 100%;
          width: 32px;  // Size
        }
        .Username {
          display: inline-block;
          font-size: 22px;
        }
      }
      
      .Message {
        word-wrap: break-word;
      }
    }
    li:not(:last-of-type) {
      opacity: 0.9;
    }
    li:last-of-type {
      animation-name: slide-in-left;
      animation-duration: 0.15s;
      animation-timing-function: ease-in;
    }
    @keyframes slide-in-left {
      from {
        transform: translateX(400px);
        opacity: 0;
      }

      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
  ul {
    list-style-type: disc;
  }
}
