*{
    padding: 0%;
    margin: 0%;
}

html,
body {
  margin: 0;
  font-family: monospace;
  color: #1f6884;
}
#chat {
  width: 400px;
  height: 350px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
#chat::-webkit-scrollbar {
    display: none;
}

ul {
  list-style-type: disc;
}
#chat ul {
  list-style-type: none;
  list-style-position: outside;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#chat li {
  background-color: #e3f2f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem 10px;
  margin-bottom: 10px;
  border: 1px solid;
}
#chat li:last-of-type {
    animation-name: slide-in-left;
    animation-duration: 0.15s;
    animation-timing-function: ease-in;
}
@keyframes slide-in-left {
    from {
        transform: translateX(400px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
#chat li:not(:last-of-type) {
    opacity: 0.9;
  }