@font-face {
  // Made by the Braille Institute this font is easier to read for Low vision readers https://brailleinstitute.org/freefont
  font-family: "Atkinson-Hyperlegible";
  src: url("../Fonts\\Atkinson-Hyperlegible-Regular-102.eot"); /* IE9 Compat Modes */
  src: url("../Fonts\\Atkinson-Hyperlegible-Regular-102.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../Fonts\\Atkinson-Hyperlegible-Regular-102a.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../Fonts\\Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../Fonts\\Atkinson-Hyperlegible-Regular-102.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../Fonts\\Atkinson-Hyperlegible-Regular-102.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

* {
  padding: 0%;
  margin: 0%;
  body {
    font-family: "Atkinson-Hyperlegible", "VT323", Fallback, monospace;

    #Displayer {
      width: 100%; // org none
      height: 100%; // org none
      //background-color: hsla(233, 54%, 15%, 0.8);
      display: flex;
      justify-content: center;
      #Content {
        background-color: rgba(33, 39, 95, 0.8);
        width: 100%;
        animation-name: slide-in-top;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-timing-function: ease;
        // Styling of the player
        div{
          //animation-name: slide-in-top;
          //animation-fill-mode: forwards;
          //animation-duration: 1s;
          //animation-timing-function: ease;
          #player {
            div{
              width: 100%;
              height: 80%;
            }
            width: 100%;
            height: 80%;
          }
          img {
            width: 100%;
           // animation-name: slide-in-top;
           // animation-fill-mode: forwards;
           // animation-duration: 1s;
           // animation-timing-function: ease;
          }
        }
      }
    }
  }
}
*::-webkit-scrollbar {
  display: none;
}
@keyframes slide-in-top {
  from {
    transform: translateY(-100%);

  }
  to {
    transform: translateY(0);
  }
}
